@import "tailwindcss";

:root {
    --background: #141414;
    --background_second: #272727;
    --background_third: #646464;
    --foreground: #ededed;
    --accent: #2dd4bf;
    --header-height: 4.5rem;
    --footer-height: 5.5rem;
    --footer-visible-height: 3.5rem;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: var(--background_second);
}

body::-webkit-scrollbar-thumb {
    background: var(--background_third);
    border-radius: 8px;
    border: 4px solid var(--background_second);
}

h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
}

.accent {
    color: var(--accent);
}
