.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleHeader {

}

.titlePrimaryButton {
    background: var(--accent);
    color: var(--background);

    height: 4rem;
    width: fit-content;
    border-radius: .5rem;

    padding: .75rem 2rem;
    margin-top: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePrimaryButton:hover {
    background: rgb(20 184 166);
}

.titlePrimaryButtonIcon {
    height: 100%;
    width: auto;
    padding-right: .5rem;
}
